<template id="add-customer">
  <div>
    <h3>Add new Customer</h3>
    <form v-on:submit.prevent = "createCustomer">
      <div class="form-group">
        <label for="add-name">Title</label>
        <input id="add-name" v-model="customer.name" class="form-control" required />
      </div>
      <div class="form-group">
        <label for="add-email">Email</label>
        <input id="add-email" v-model="customer.email" class="form-control" required />
      </div>
      <button type="submit" class="btn btn-xs btn-primary">Create Customer</button>
      <router-link class="btn btn-xs btn-warning" v-bind:to="'/'">Cancel</router-link>
    </form>
  </div>
</template>

<script>
 export default {
   data: function () {
 return {customer: {name: '', email: ''}}
 },

 methods: {
   createCustomer: function() {
     let uri = 'http://localhost:8000/customers/';
     Axios.post(uri, this.customer).then((response) => {
     this.$router.push({name: 'Listcustomer'})
     })
   }
 }
 }
</script>