<template id="customer-delete">
  <div>
    <h3>Delete Customer {{ customer.name  }}</h3>
    <form v-on:submit.prevent = "deleteCustomer">
      <p>The action cannot be undone</p>
      <button class="btn btn-xs btn-danger" type="submit" name="button">Delete</button>
      <router-link class="btn btn-xs btn-primary" v-bind:to="'/'">Back</router-link>
    </form>
  </div>
</template>

<script>
export default {
  data: function () {
  return {customer: {name: '', email: ''}}
  },
  created: function(){
    let uri = 'http://localhost:8000/customers/'+this.$route.params.id+'/edit';
    Axios.get(uri).then((response) => {
    this.customer = response.data;
    });
  },
  methods: {
    deleteCustomer: function() {
    let uri = 'http://localhost:8000/customers/'+this.$route.params.id;
    Axios.post(uri, this.customer).then((response) => {
      this.$router.push({name: 'Listcustomer'})
    })
    }
  }
}
</script>