<template id="customer-edit">
  <div>
    <h3>Update Customer</h3>
    <form v-on:submit.prevent = "updateCustomer">
      <div class="form-group">
        <label for="edit-name">Title</label>
        <input id="edit-name" v-model="customer.name" class="form-control" required />
      </div>
      <div class="form-group">
        <label for="edit-email">Email</label>
        <input id="edit-email" v-model="customer.email" class="form-control" required />
      </div>
      <button type="submit" class="btn btn-xs btn-primary">Update Customer</button>
      <router-link class="btn btn-xs btn-warning" v-bind:to="'/'">Cancel</router-link>
    </form>
  </div>
</template>

<script>
export default{
  data: function () {
    return {customer: {name: '', email: ''}}
  },
  created: function(){
    let uri = 'http://localhost:8000/customers/'+this.$route.params.id+'/edit';
    Axios.get(uri).then((response) => {
    this.customer = response.data;
  });
  },
  methods: {
    updateCustomer: function() {
      let uri = 'http://localhost:8000/customers/'+this.$route.params.id;
      Axios.patch(uri, this.customer).then((response) => {
      this.$router.push({name: 'Listcustomer'})
    })
  }
  }
}
</script>