<template id="customer-list">
	<div class="row">

	<div class="pull-left">
	Search Data : <input type="text" placeholder="SEARCH" >
			<router-link class="btn btn-xs btn-default" 
				v-bind:to="{path:'/add-customer'}">
				<span class="glyphicon glyphicon-lock"></span>
				Search
			</router-link>
			</br></br>
		</div>
		<div class="pull-right">
			<router-link class="btn btn-xs btn-primary" 
				v-bind:to="{path:'/add-customer'}">
				<span class="glyphicon glyphicon-plus"></span>
				Add new customer
			</router-link>
			</br></br>
		</div>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Email</th>
						<th class="col-md-2">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="( customer, index) in filteredCustomer">
						<td>{{ customer.id }}</td>
						<td>{{ customer.name }}</td>
						<td>{{ customer.email }}</td>
						<td>
					<router-link class="btn btn-info btn-xs" 
						v-bind:to="{name:'Viewcustomer', params:{id:customer.id}}">
						Show
					</router-link>
					<router-link class="btn btn-warning btn-xs" 
						v-bind:to="{name:'Editcustomer', params:{id:customer.id}}">
						Edit
					</router-link>
					<router-link class="btn btn-danger btn-xs" 
						v-bind:to="{name:'Deletecustomer', params:{id:customer.id}}">
						Delete
					</router-link>
						</td>
					</tr>
				</tbody>
			</table>
	</div>
</template>

<script>
export default {
	data:function(){
		return { customers: ''};
	},
	created: function(){
		let uri = 'http://localhost:8000/customers/';
		Axios.get(uri).then((response) => {
			this.customers = response.data;
		});
	},
	computed: {
		filteredCustomer: function(){
			if(this.customers.length){
				return this.customers;
			}
		}
	}

}
</script>
