<template id="customer">
  <div>
    <h3>{{ customer.name }}</h3>
    <strong>Email : </strong>
    <div>
      {{ customer.email }}
    </div>
  </br>
  <span class="glyphicon glyphicon-arrow-left"></span>
  <router-link v-bind:to="'/'">Back to customer list</router-link>
  </div>
</template>

<script>
   export default {
   data: function () {
   return {customer: {name: '', email: ''}}
 },
 created: function(){
   let uri = 'http://localhost:8000/customers/'+this.$route.params.id;
     Axios.get(uri).then((response) => {
     this.customer = response.data;
   });
 }
 }
</script>